<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="cd7699">  <td>19/11/11 12:10:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC02.start()[pri:0, instance:com.wipro.testcases.TC02@38e79ae3]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1995619265</td>   <td></td> </tr>
<tr bgcolor="bd76b7">  <td>19/11/11 12:10:11</td>   <td>-21</td> <td title="&gt;&gt;Testbase.startApp()[pri:0, instance:com.wipro.testcases.TC02@38e79ae3]">&gt;&gt;startApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1995619265</td>   <td></td> </tr>
<tr bgcolor="cd7699">  <td>19/11/11 12:10:46</td>   <td>34742</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC02.stop()[pri:0, instance:com.wipro.testcases.TC02@38e79ae3]">&lt;&lt;stop</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1995619265</td>   <td></td> </tr>
<tr bgcolor="cd7699">  <td>19/11/11 12:10:24</td>   <td>12381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.test1()[pri:0, instance:com.wipro.testcases.TC02@38e79ae3]">test1</td> 
  <td>main@1995619265</td>   <td></td> </tr>
<tr bgcolor="cd7699">  <td>19/11/11 12:10:25</td>   <td>13901</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.test2()[pri:0, instance:com.wipro.testcases.TC02@38e79ae3]">test2</td> 
  <td>main@1995619265</td>   <td></td> </tr>
<tr bgcolor="cd7699">  <td>19/11/11 12:10:29</td>   <td>18087</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.test3()[pri:0, instance:com.wipro.testcases.TC02@38e79ae3]">test3</td> 
  <td>main@1995619265</td>   <td></td> </tr>
<tr bgcolor="cd7699">  <td>19/11/11 12:10:30</td>   <td>18699</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.test4()[pri:0, instance:com.wipro.testcases.TC02@38e79ae3]">test4</td> 
  <td>main@1995619265</td>   <td></td> </tr>
<tr bgcolor="cd7699">  <td>19/11/11 12:10:33</td>   <td>21816</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.test5()[pri:0, instance:com.wipro.testcases.TC02@38e79ae3]">test5</td> 
  <td>main@1995619265</td>   <td></td> </tr>
<tr bgcolor="cd7699">  <td>19/11/11 12:10:37</td>   <td>26085</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.test6()[pri:0, instance:com.wipro.testcases.TC02@38e79ae3]">test6</td> 
  <td>main@1995619265</td>   <td></td> </tr>
<tr bgcolor="cd7699">  <td>19/11/11 12:10:37</td>   <td>26226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.test7()[pri:0, instance:com.wipro.testcases.TC02@38e79ae3]">test7</td> 
  <td>main@1995619265</td>   <td></td> </tr>
<tr bgcolor="cd7699">  <td>19/11/11 12:10:42</td>   <td>30583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.test8()[pri:0, instance:com.wipro.testcases.TC02@38e79ae3]">test8</td> 
  <td>main@1995619265</td>   <td></td> </tr>
<tr bgcolor="cd7699">  <td>19/11/11 12:10:43</td>   <td>32112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.test9()[pri:0, instance:com.wipro.testcases.TC02@38e79ae3]">test9</td> 
  <td>main@1995619265</td>   <td></td> </tr>
</table>
