<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="cd7699">  <td>19/11/05 11:26:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC01.start()[pri:0, instance:com.wipro.testcases.TC01@77f80c04]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1332210474</td>   <td></td> </tr>
<tr bgcolor="78d6a3">  <td>19/11/05 11:26:22</td>   <td>-15</td> <td title="&gt;&gt;Testbase.startApp()[pri:0, instance:com.wipro.testbase.Testbase@4e3958e7]">&gt;&gt;startApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1332210474</td>   <td></td> </tr>
<tr bgcolor="cd7699">  <td>19/11/05 11:27:02</td>   <td>40131</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC01.stop()[pri:0, instance:com.wipro.testcases.TC01@77f80c04]">&lt;&lt;stop</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1332210474</td>   <td></td> </tr>
<tr bgcolor="cd7699">  <td>19/11/05 11:26:36</td>   <td>14523</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.test1()[pri:0, instance:com.wipro.testcases.TC01@77f80c04]">test1</td> 
  <td>main@1332210474</td>   <td></td> </tr>
<tr bgcolor="cd7699">  <td>19/11/05 11:26:47</td>   <td>25126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.test2()[pri:0, instance:com.wipro.testcases.TC01@77f80c04]">test2</td> 
  <td>main@1332210474</td>   <td></td> </tr>
<tr bgcolor="cd7699">  <td>19/11/05 11:26:53</td>   <td>30907</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.test3()[pri:0, instance:com.wipro.testcases.TC01@77f80c04]">test3</td> 
  <td>main@1332210474</td>   <td></td> </tr>
<tr bgcolor="cd7699">  <td>19/11/05 11:26:56</td>   <td>33985</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.test4()[pri:0, instance:com.wipro.testcases.TC01@77f80c04]">test4</td> 
  <td>main@1332210474</td>   <td></td> </tr>
<tr bgcolor="cd7699">  <td>19/11/05 11:26:56</td>   <td>34074</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.test5()[pri:0, instance:com.wipro.testcases.TC01@77f80c04]">test5</td> 
  <td>main@1332210474</td>   <td></td> </tr>
<tr bgcolor="cd7699">  <td>19/11/05 11:26:59</td>   <td>37424</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.test6()[pri:0, instance:com.wipro.testcases.TC01@77f80c04]">test6</td> 
  <td>main@1332210474</td>   <td></td> </tr>
<tr bgcolor="cd7699">  <td>19/11/05 11:26:59</td>   <td>37502</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.test7()[pri:0, instance:com.wipro.testcases.TC01@77f80c04]">test7</td> 
  <td>main@1332210474</td>   <td></td> </tr>
</table>
